<h1><%= @user.username %></h1>

<h2>Games:</h2>
<% @user.games.each do |game| %>
    <h4><%= game.title %></h4>
    <% @user.achievements.each do |achievement| %>
        <ol>
            <li><%= achievement.name if achievement.game.id == game.id %></li>
            <p><%= achievement.description if achievement.game.id == game.id %></p>
        </ol>
    <% end %>
<% end %>
<form action="/games/new" method="get">
    <input type="submit" value="New Game"
</form>
<form action="/achievements/new" method="get">
    <input type="submit" value="New Achievement">
</form>