<h1>Add a new game to the database!</h1>
<form action="/games/new" method="post">
    <h3>Title: </h3>
    <input type="text" name="game_title">
    <br><br>
    <h3>Add an achievement! <small>(you can add more later)</small>: </h3><br>
    <label>Achievement Title: </label><input type="text" name="achievement_title"><br>
    <label>Description: </label><input type="text" name="achievement_description">
</form>