<h1>Games List</h1>

<% @games.each do |game| %>
    <ol>
        <a href="/games/<%= game.downcase.gsub(' ', '-').gsub(/[^\w-]/, '') %>"<li><%= game %></li></a>
    </ol>
<% end %>
<form action="/games/new" method="get">
    <input type="submit" value="New Game">
</form>