<h1>Welcome to the Achievement Tracker!</h1>

<h3>Log In</h3>

<form action="/login" method="post">
    <label>Username: </label><input type="text" name="username">
    <br>
    <label>Password: </label><input type="password" name="password">
    <br>
    <input type="submit" name="login" value="Log In">
</form>
<form action="/signup" method="post">
    <input type="submit" name="signup" value="Sign Up">
</form>