<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>VideoGameAchievementsSinatra</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <form action="/logout" method="get">
          <input type="submit" name="logout" value="Log Out">
        </form>
        <br>
        <small>&copy; 2021 <strong>VideoGameAchievementsSinatra</strong></small>
      </footer>
    </div>
  </body>
</html>
